form {
  width: 350px;
  height: 500px;
  margin: auto;
}

fieldset {
  text-align: center;
  padding: 10px;
}

ul li{
  float:left;
  margin-right: 1px;
}


fieldset#values {
  margin-top: 50px;
  text-align: left;
}

legend {
  text-align: center;
}

button {
  border-radius: 10px;
  box-shadow: 2px 2px 2px white;
}

#categories {
  list-style-type: none;

}

button {
  margin-bottom: 6px;
  margin-top: 10px;
}

input, textarea {
  background: #53585D;
  color: #F5F5F5;
  outline: 0;
  border: 0;
  border-top: 4px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 4px solid #53585D;
  resize: none;
  border-radius: 4px;
  transition: box-shadow 1s;
  box-shadow: 2px 2px 2px white;
  margin-top: 6px;
  margin-bottom: 20px;
  border-radius: 10px;
}

input:focus, textarea:focus {
  box-shadow: 2px 2px 2px red;
  transition: box-shadow 1s;
}